body{
    background-color:#EDFEFE;
}
.navbar{
    top: 10px; 
    position:sticky;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    background-color: white;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    column-count: 2;
    column-width: 50%;
    padding: 20px;

}

.content a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 200px;
    border-radius: 10px;
}

.content p{
    font-size: 100px;
    margin: 0px;
    margin-bottom: 20px;
}

.content p~p{
    font-size: xx-large;
}

.products{
    display:flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.products>div{
    margin: 30px;
    /* padding: 10px; */
    text-align: justify;
   color: black;
   font-weight: bolder;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.products p{
    background-color:#F5CF39; 
    margin:10px; 
    padding: 10px; 
    border-radius:5px ; 
    text-align: center;
}

.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdowncontent a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdowncontent{
    cursor: pointer;
    display: block;
}

.contact{
    position: fixed;
    top:0px;
    right: 0px;
    top: 600px;
    opacity: 0.5;
}
.mobileviewnav{
    display: none;     
    position: sticky;
    top:0px;
}

.mobileviewnav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    background-color: white;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.one{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.products>div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content>img{
    height: 500px;
}
.userdropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.userdropdowncontent{
    display: none;
    position: absolute;
    background-color: #828282;   
    width: 100px;;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 12px 16px;
    z-index: 1;
}
.userdropdowncontent a{
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.userdropdown:hover .userdropdowncontent{
    cursor: pointer;
    display: block;
}
.searchbar{
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    margin-right: 10px;
    height: 25px;
}
@media screen and (min-width:481px) and (max-width:768px) {
    .navbar{
        display:none;
    }
    .mobileviewnav{
        display: block;
    }
    .content{
        display: flex;
       
        flex-flow: column wrap;
    }
    .content>img{
        margin-right: 20px;
        height: 500px;
        width: 435px;
    }
    .content p{
        font-size: 18px;
    }
    .content a{
        display: flex;
        margin: 0px;
        text-decoration: none;
        background-color: black;
        color: white;
        border-radius: 10px;
        flex-flow: wrap row;
        margin-bottom: 50px;
        width:fit-content
    }
    .one{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 25px;
    }
    .mdropdown{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .mdropdowncontent{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .mdropdowncontent ul{
        color:black;
        text-decoration: none;
        display: block;
        padding: 20px;
    }
    .mdropdown:hover .mdropdowncontent{
        cursor: pointer;
        display: block;
    }
    .dropdown{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .dropdowncontent{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .dropdowncontent a{
        color:black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown:hover .dropdowncontent{
        cursor: pointer;
        display: block;
    }
    .userdropdown{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .userdropdowncontent{
        display: none;
        position: absolute;
        background-color: #828282;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
        z-index: 1;
        width: 85px;

    }
    .userdropdowncontent a{
        color:whitesmoke;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .userdropdown:hover.userdropdowncontent{
        cursor: pointer;
        display: block;
    }
    .products{
        justify-content: center;
    }
    .two{
        text-decoration: no;
    }
    .searchbar{
        border-style:solid;
        border-color: black;
        border-radius: 10px;
        border-width: 3px;
        margin-right: 10px;
        height: 25px;
    }
}